<div class="container-fluid">
	<div class="jumbotron" style="border:1px solid grey;border-radius: 3px;background-color:#fff">
		<div class="row">
				<div class="col-md-6">
					<div class="seller-name">
						<h1><%= @seller.name %></h1>
					</div>
						<div class="seller-description">
							<p><%= @seller.description %></p>
						</div>
							<div class="seller-location">
								<p><%= @seller.location %></p>
							</div>
				</div>
		</div><br />
			<div class="icons">
				<%= link_to image_tag('pinterest.png'), @seller.social4 if @seller.social4? %>
				<%= link_to image_tag('instagram.png'), @seller.social3 if @seller.social3? %>
				<%= link_to image_tag('twitter.png'), @seller.social2 if @seller.social2? %>
				<%= link_to image_tag('facebook.png'), @seller.social1 if @seller.social1? %>
			</div>
	</div>
</div>
	<% if current_seller == @seller %>
		<%= link_to 'Add a new product', new_listing_path, class: "btn btn-default" %><br /><br />
	<% end %>
<%= render 'listings/listing', obj: @seller_listings %>
 			


